{# workplace/templates/workpalce/schema.html #}
{% extends 'base.html' %}{% load static %}

{% block style %}
    <link href="{% static 'workspace/css/schema.css' %}"
          rel="stylesheet">
{% endblock %}

{% block title %}Schema {{ schema }}{% endblock %}

{% block body %}
    {% include 'nav.html' %}
    {# New schemas page #}
    <div class="w-75 mx-lg-5 mx-auto d-flex flex-column mt-5">
        {# Data sets Title & Button #}
        <div class="d-flex flex-row mb-3">
            {# Data sets title #}
            <span class="mr-auto me-auto h4">Data sets</span>
            <form class="d-flex flex-row justify-content-end align-items-end"
                  method="get" id="formGenerateData"
                  onkeydown="return event.key !== 'Enter';"
                  action="{% url 'generate_data' schema.pk %}">
                {# Rows label #}
                <label class="form-text mr-3">
                    Rows
                </label>
                {# Rows input #}
                <input class="form-control w-25 mr-3" id="numsRow" type="number" value="500" min="1" max="1000">
                {# New schemas button #}
                <input class="btn btn-success" type="button" id="btnGenerateData" value="Generate data">
            </form>
        </div>
        {# Data sets Table #}
        <table class="table table-bordered align-self-center">
            {# Table Head #}
            <thead>
            <tr class="font-weight-bold">
                <th scope="row">#</th>
                <td colspan="1">Created</td>
                <td colspan="1">Status</td>
                <td colspan="2">Actions</td>
            </tr>
            </thead>
            {# Table Body #}
            <tbody link-check-status="{% url 'check_generate_data_status' %}">
            {# Table Generator #}
            {% for dataset in schema.schema_datasets.all %}
                <tr>
                    {# Table Collumn Index #}
                    <th id="index" class="align-middle" scope="row">{{ forloop.counter }}</th>
                    {# Table Collumn Created #}
                    <td class="align-middle" colspan="1">
                        <a id="date_created">{{ dataset.date_create|date:"Y-m-d" }}</a>
                    </td>
                    {# Table Collumn Status #}
                    <td class="align-middle" colspan="1">
                        <span id="status" class="badge align-middle badge-success">Ready</span>
                    </td>
                    {# Table Collumn Actions #}
                    <td class="align-middle" colspan="2">
                        <a class="link-primary"
                           id="download"
                           href="{% get_media_prefix %}{{ dataset.file.name }}"
                           download="dataset">
                            Download
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'workspace/js/schema.js' %}"></script>
    <script type="text/template" data-template="appendTableRow">
        <tr>
            {# Table Collumn Index #}
            <th id="index" class="align-middle" scope="row"></th>
            {# Table Collumn Created #}
            <td class="align-middle" colspan="1">
                <a id="date_created"></a>
            </td>
            {# Table Collumn Status #}
            <td class="align-middle" colspan="1">
                <span id="status" class="badge align-middle badge-secondary">Ready</span>
            </td>
            {# Table Collumn Actions #}
            <td class="align-middle" colspan="2">
                <a class="link-primary d-none"
                   id="download"
                   href="{% get_media_prefix %}{{ dataset.file.name }}"
                   download="dataset"
                >
                    Download
                </a>
            </td>
        </tr>

    </script>

{% endblock %}